.project a {
    color: skyblue;
    text-decoration: none;
    position: relative;
}

.navbar a {
    color: white;
    text-decoration: none;
    position: relative;
}

.navbar a::after,
.navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    left: 0;
    background-color: skyblue;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.navbar a::after {
    bottom: -2px;
}

.navbar a::before {
    bottom: -6px;
    width: 75%;
    left: 12.5%;
    background-color: rgb(129, 169, 182); /* Different color for the smaller underline */
}

.navbar a:hover::after,
.navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: center;
}

.navbar a:hover {
    color: rgb(174, 232, 255);;
}

.mask-1 {
    background: url('../images/image1.png') no-repeat center center;
    background-size: 50%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media screen and (max-width: 768px) {
    .mask-1 {
        background-size: 100%;
    }
    
}