---
const currentYear = new Date().getFullYear();
---
<footer>
	<p>&copy; {currentYear} Zander Lewis. All rights reserved.</p>
</footer>

<style>
	footer {
		text-align: center;
		padding: 1rem;
		background-color: #1a1a1a;
		color: var(--text-color);
	}
</style>